<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <form action="/admin" method="POST">
        <input type="text" name="latitude" placeholder="Latitude">
        <br>
        <input type="text" name="longitude" placeholder="Longitude">
        <br>
        <input type="text" name="title" placeholder="Title">
        <br>
        <input type="text" name="description" placeholder="Description">
        <br>
        <button type="submit">Submit Co-ordinates</button>
    </form>
</body>
</html>