<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>foxtrot</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="css/stylebody.css">
</head>

<body>
    <div id='map'></div>

    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const axios = require('axios');

        // Make a request for a user with a given ID
        axios.get('http://192.168.225.46:3000/getdata')
        .then(function (response) {
            //CJHANGE NEEEDED
            console.log(response);
        })
    </script>
</body>

</html>