<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>BharatBeacon</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=inconsolata:700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="css/favicon.png">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylebody.css">
    <!-- <meta http-equiv="refresh" content="30" /> -->
</head>

<body>
    <nav class="nav navbar">
        <a href="" class="button">ALL</a>
        <a href="">FOOD</a>
        <img src="/css/ndrf.png" alt="" width="3.8%" class="d-none d-lg-block">
        <a href="">MEDICAL</a>
        <a href="">INACTIVE</a>
    </nav>


    <div id='map' class='col-md-8'></div>
    <div class="jumbotron col-4 d-none d-md-block">
        <h1 class="display-4" id="jumbo"> <span id="name">BharatBeacon</span></h1>
        <p class="lead">Digital India, Digital rescues.</p>
        <hr class="my-4">
        <table class="table">
            <tr>
                <th class="number data-right">1</th>
                <th class="number">1</th>
            </tr>
            <tr>
                <td class="data data-bottom data-right">All Beacons</td>
                <td class="data data-bottom">Require Food</td>
            </tr>
            <tr>
                <th class="number data-right">1</th>
                <th class="number">1</th>
            <tr>
                <td class="data data-bottom data-right">Medical Emergencies</td>
                <td class="data data-bottom">Inactive Beacons</td>
            </tr>
            </tr>
        </table>
    </div>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>