#map {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 !important;
}

.marker {
  background-image: url("marker.png");
  background-size: cover;
  width: 55px;
  height: 100px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-attrib {
  display: none;
}

.navbar {
  position: relative;
  z-index: 10;
  background-color: #232323 !important;
  box-shadow: 10px 10px 8px #888888;
}

.jumbotron {
  display: flexbox;
  float: right;
  height: 90vh !important;
  margin: 0;
  border-radius: 0%;
  background: rgb(209, 209, 209);
  background: linear-gradient(
    0deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a {
  color: aliceblue !important;
  display: flex !important;
  margin: auto !important;
}
